ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 1440px;
  margin: 0 auto;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}
